.odd {
    background-color: lightpink;
    font-family: Verdana,"DejaVu Sans", sans-serif;
}

.font-size-specifier
{
    font-size: 24px;
}

/* could have added font size property to both 3 and 4 but added a seperate selector to reduce code */
#two {
    color: blue;
    font-size: 36px; 
}

#four {
    background-color: lightgreen;
    font-weight: bold;
}

